@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default font for app */
body {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

body{
  min-width: 380px;
}
